## Dynamic Configuration
http:
  middlewares:
    secureHeaders:
      headers:
        sslRedirect: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 31536000
    nextcloud:
      headers:
        referrerPolicy: "no-referrer"
        browserXSSFilter: true
        contentTypeNosniff: true
        customFrameOptionsValue: "SAMEORIGIN"
    matrix-redirect:
      redirectregex:
        permanent: true
        regex: "https://{{ cloud_server_fqdn }}/.well-known/matrix"
        replacement: "https://matrix.{{ cloud_server_fqdn }}/.well-known/matrix"
    onlyoffice:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"

tls:
  options:
    default:
      minVersion: "VersionTLS12"
      preferServerCipherSuites: true
      cipherSuites:
        - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
        - TLS_CHACHA20_POLY1305_SHA256
