server_name: "{{ cloud_server_fqdn }}"
pid_file: /data/homeserver.pid
public_baseurl: https://matrix.{{ cloud_server_fqdn }}/
serve_server_wellknown: true
presence:
  presence_router:

listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true

    resources:
      - names: [client, federation]
        compress: false


limit_remote_rooms:

retention:

acme:
  enabled: false
  port: 80
  bind_addresses: ["::", "0.0.0.0"]
  reprovision_threshold: 30
  domain: "matrix.{{ cloud_server_fqdn }}"
  account_key_file: /data/acme_account.key

caches:
  per_cache_factors:

database:
  name: psycopg2
  args:
    database: "synapse"
    user: "synapse"
    password: "{{ synapse.db_pswd }}"
    host: postgres
    port: 5432
    cp_min: 5
    cp_max: 10

log_config: "/data/{{ cloud_server_fqdn }}.log.config"
media_store_path: "/data/media_store"
url_preview_accept_language:
registration_shared_secret: "{{ synapse.registration_secret }}"
account_threepid_delegates:
account_validity:
metrics_flags:
report_stats: false
room_prejoin_state:
app_service_config_files:
  - /data/fb-bridge.yaml
  - /data/puppet.yaml

macaroon_secret_key: "{{ macaroon_secret_key }}"
form_secret: "{{ synapse.form_secret }}"
signing_key_path: "/data/{{ cloud_server_fqdn }}.signing.key"
old_signing_keys:
trusted_key_servers:
  - server_name: "matrix.org"

suppress_key_server_warning: true
saml2_config:
  sp_config:
  user_mapping_provider:
    config:
oidc_providers:
cas_config:
sso:
password_config:
  policy:
ui_auth:
email:
  smtp_host: {{ smtp_host }}
  smtp_port: {{ smtp_port }}
  smtp_user: "{{ smtp_user }}"
  smtp_pass: "{{ smtp_pass }}"
  notif_from: "{{ cloud_name }} Chat <{{ smtp_from }}>"
  app_name: "{{ cloud_name }} Chat"
  enable_notifs: true
  client_base_url: "https://chat.{{ cloud_server_fqdn }}"
  invite_client_location: "https://chat.{{ cloud_server_fqdn }}"
password_providers:
push:
spam_checker:
user_directory:
  #search_all_users: true
  #prefer_local_users: true

stats:
opentracing:
redis:
modules:

experimental_features:
  # MSC3266: Room summary API. Used for knocking over federation
  msc3266_enabled: true
  # MSC4222 needed for syncv2 state_after. This allow clients to
  # correctly track the state of the room.
  msc4222_enabled: true

# The maximum allowed duration by which sent events can be delayed, as
# per MSC4140.
max_event_delay_duration: 24h

rc_message:
  # This needs to match at least e2ee key sharing frequency plus a bit of headroom
  # Note key sharing events are bursty
  per_second: 0.5
  burst_count: 30

rc_delayed_event_mgmt:
  # This needs to match at least the heart-beat frequency plus a bit of headroom
  # Currently the heart-beat is every 5 seconds which translates into a rate of 0.2s
  per_second: 1
  burst_count: 20
