server_name: "{{ cloud_server_fqdn }}"
pid_file: /data/homeserver.pid
public_baseurl: https://matrix.{{ cloud_server_fqdn }}/
serve_server_wellknown: true
presence:
  presence_router:

listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true

    resources:
      - names: [client, federation]
        compress: false


limit_remote_rooms:

retention:

acme:
  enabled: false
  port: 80
  bind_addresses: ["::", "0.0.0.0"]
  reprovision_threshold: 30
  domain: "matrix.{{ cloud_server_fqdn }}"
  account_key_file: /data/acme_account.key

caches:
  per_cache_factors:

database:
  name: psycopg2
  args:
    database: "synapse"
    user: "synapse"
    password: "{{ db_synapse_pswd }}"
    host: postgres
    port: 5432
    cp_min: 5
    cp_max: 10

log_config: "/data/{{ cloud_server_fqdn }}.log.config"
media_store_path: "/data/media_store"
url_preview_accept_language:
turn_uris:
  - "turn:turn.{{ cloud_server_fqdn }}?transport=udp"
  - "turn:turn.{{ cloud_server_fqdn }}?transport=tcp"

turn_shared_secret: "{{ lookup('password', '{{ local_credential_store }}/coturn_secret chars=ascii_letters,digits length=32') | lower }}"
turn_user_lifetime: 86400000
registration_shared_secret: "{{ lookup('password', '{{ local_credential_store }}/synapse_registration_secret chars=ascii_letters,digits length=32') }}"
account_threepid_delegates:
account_validity:
metrics_flags:
report_stats: false
room_prejoin_state:
app_service_config_files:
  - /data/fb-bridge.yaml
  - /data/puppet.yaml

macaroon_secret_key: "{{ macaroon_secret_key }}"
form_secret: "{{ synapse_form_secret }}"
signing_key_path: "/data/{{ cloud_server_fqdn }}.signing.key"
old_signing_keys:
trusted_key_servers:
  - server_name: "matrix.org"

suppress_key_server_warning: true
saml2_config:
  sp_config:
  user_mapping_provider:
    config:
oidc_providers:
cas_config:
sso:
password_config:
  policy:
ui_auth:
email:
  smtp_host: {{ nextcloud_mail_smtphost }}
  smtp_port: {{ nextcloud_mail_smtpport }}
  smtp_user: "{{ nextcloud_mail_smtpname }}"
  smtp_pass: "{{ nextcloud_mail_smtppwd }}"
  notif_from: "{{ cloud_name }} Chat <{{ nextcloud_mail_from }}@{{ nextcloud_mail_domain }}>"
  app_name: "{{ cloud_name }} Chat"
  enable_notifs: true
  client_base_url: "https://chat.{{ cloud_server_fqdn }}"
  invite_client_location: "https://chat.{{ cloud_server_fqdn }}"
password_providers:
push:
spam_checker:
user_directory:
  #search_all_users: true
  #prefer_local_users: true

stats:
opentracing:
redis:
modules:
