id: doublepuppet
url:
as_token: {{ synapse.puppet_as_token }}
hs_token: "unused"
sender_localpart: "unused"
rate_limited: false
namespaces:
  users:
  - regex: '@.*:{{ cloud_server_fqdn | replace(".", "\.") }}'
    exclusive: false
